@import "tailwindcss";

@layer base {
  :root {
    --font-title: var(--font-ebgaramond), serif;
    --font-body: var(--font-spacemono), monospace;
    --font-tagline: var(--font-archivo-black), sans-serif;
    --bg-color: #ffffff;
    --text-color: #000000;
    --alter-color: #ffffff;
    --border-color: #97266d;
    --base-color: #97266d;
    --primary-color: #97266d;
    --top-color: #ffffff;
    --card-background: transparent;
  }

  [data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #ffffff;
    --border-color: #ffffff;
    --base-color: #ffffff;
    --alter-color: #000000;
    --primary-color: #97266d;
    --top-color: #97266d;
    --card-background: #97266d;
  }

  body {
    font-family: var(--font-body);
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  main {
    @apply relative border-l-2 border-r-2 min-h-screen;
    border-color: var(--border-color);
  }
}

@layer components {
  .title-font {
    font-family: var(--font-title);
  }

  .tagline-font {
    font-family: var(--font-tagline);
    /* font-weight: 400; */
  }

  .default-font {
    font-family: var(--font-body);
  }

  .border-color {
    border: var(--base-color);
  }

  .logo-shadow {
    box-shadow: 4px 4px 0 var(--base-color);
    background-color: var(--card-background);
  }

  .card-shadow {
    @apply transition-all duration-200;
    box-shadow: 4px 4px 0 var(--base-color);
    background-color: var(--card-background);
  }

  .card-shadow:hover {
    @apply translate-x-1 translate-y-1;
    box-shadow: 2px 2px 0 var(--base-color);
    background-color: var(--base-color);
  }

  .button-shadow {
    @apply transition-all duration-200;
    box-shadow: 8px 8px 0 var(--base-color);
    background-color: var(--card-background);
  }

  .button-shadow:hover {
    @apply translate-x-1 translate-y-1;
    box-shadow: 4px 4px 0 var(--base-color);
    background-color: var(--base-color);
  }

  .portfolio-shadow {
    @apply transition-all duration-200;
    box-shadow: 16px 16px 0 var(--base-color);
    background-color: var(--card-background);
  }

  .portfolio-shadow:hover {
    @apply translate-x-1 translate-y-1;
    box-shadow: 6px 6px 0 var(--base-color);
    background-color: var(--base-color);
  }

  .skill-card-shadow {
    @apply transition-all duration-200;
    box-shadow: 8px 8px 0 var(--base-color);
    background-color: var(--card-background);
  }

  .skill-card-shadow:hover {
    @apply translate-x-1 translate-y-1;
    box-shadow: 4px 4px 0 var(--base-color);
    background-color: var(--base-color);
  }

  .project-card-shadow {
    @apply transition-all duration-200;
    box-shadow: 8px 8px 0 var(--base-color);
    background-color: var(--card-background);
  }

  .project-card-shadow:hover {
    @apply translate-x-1 translate-y-1;
    box-shadow: 4px 4px 0 var(--base-color);
    background-color: var(--base-color);
  }

  /* .shadow-card {
    @apply border-2 transition-all duration-200;
    border-color: var(--border-color);
    background-color: var(--bg-color);

  }

  .shadow-card::before {
    content: '';
    @apply absolute top-2 -right-2 w-full h-full -z-10 transition-all duration-200;
    background-color: rgb(157 23 77); /* pink-800 */
  /* } */

  /* .shadow-card:hover {
    @apply -translate-x-1 -translate-y-1;
    background-color: rgb(157 23 77);
    color: white;
  }

  .shadow-card:hover::before {
    @apply -right-1 top-1;
    background-color: var(--text-color);
  } */

  .shadow-button {
    @apply relative border-2 transition-all duration-200;
    border-color: var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .shadow-button::before {
    content: "";
    @apply absolute top-2 -right-2 w-full h-full -z-10 transition-all duration-200;
    background-color: rgb(157 23 77);
  }

  .shadow-button:hover {
    /* @apply -translate-x-1 -translate-y-1; */
    background-color: rgb(157 23 77);
    color: white;
  }

  /* .shadow-button:hover{
    
  } */
  .shadow-button:hover::before {
    @apply -right-1 bottom-0;
    background-color: var(--text-color);
  }
}
